.doctor-dash-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.doctor-dash-welcome {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--blue-900);
}

.doctor-dash-user-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.doctor-dash-notification-btn {
    all: unset;
    font-size: 2rem;
    cursor: pointer;
}

.doctor-dash-user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}